@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
#chessDiv{
    width:28rem;
    transition: 200ms;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    border-radius: .3rem;
    height:15rem;
    justify-content: center;
    padding-bottom: 3rem;
    align-items: center;
    
}

#chessDiv > p{
    font-family: 'VT323', monospace;
    margin-bottom: -1.5rem;
}

.chessLight{
    background-color: rgb(75, 155, 102);
}
.chessLight > p{
    color: rgb(70, 63, 60);
}

.chessDark{
    background-color: rgb(53, 47, 47);
}


.chessDark > p{
    color : white;
    
}