@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.chess{
    width:28rem;
    transition: 200ms;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    border-radius: .3rem;
    height:15rem;
    padding : 0.75rem 0.75rem;
    background-color: rgb(43, 40, 40);
}

.chess > p{
    margin-bottom: -1.5rem;
    font-family: 'VT323', monospace;
}
