.chess-card{
    width:27rem;
    height:31rem;
    margin: 4rem;
    border-radius: 1rem;
    background-color: #32313b;
    transition: 200ms;
    box-shadow: 10px 10px 50px rgb(39, 39, 39);;
}

.chess-img{
    width: 100%;
    height: 80%;
    border-radius: 1rem 1rem 0 0;
}

.chess-p{
    margin: 1rem;
    color: rgb(34, 128, 22);
}

.chess-card:hover{
    width: 30rem;
    cursor: pointer;
    height: 34rem;
}

.row-chess{
    display: flex;
    justify-content: space-around;
}