.contact-header{
    font-family: 'ok';
    color: rgb(39, 160, 9);
    font-size: 10rem;
    text-align: center;
}

.socials-text{
    font-family: 'QuickSand';
    color :white;
    font-size: 2rem;
    margin-left: 2rem;
    text-align: center;
}

.socials{
    display: flex;
    justify-content: space-around;
}

.socials-img{
    width: 4rem;
    height: 4rem;
}

.hangout{
    color:white;
    font-family: 'QuickSand';
    font-size: 1.3rem;
    /* position: absolute; */
    /* left: 40%; */
    position: relative;
    top: 2rem;
    /* margin-bottom: 2rem; */
    text-align: center;
}