.hi{
    font-family: "ok";
    color: rgb(212, 167, 20);
    font-size: 10rem;
    margin-top: 5rem;
    text-align: center;
}
.about-me{
    font-family: 'QuickSand';
    color :white;
    margin-top : 5rem;
    line-height: 3rem;
    font-size: 1.8rem;
    text-align: center;
}
.meme{
    width: 25rem;
    transition: 200ms;
}

.home{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden;
}
#img-desc{
    font-style: italic;
    font-size: 1rem;
    margin-right:1rem;
}
.topics{
    color:rgb(135, 255, 225);
    font-family: 'QuickSand';
    font-size: 1.5rem;
    margin-left: 4rem;
    margin-top: 2rem;
}

.li-topic{
    text-decoration: underline;
    margin-bottom: 2rem;
    color:rgb(250, 167, 13);
}
a{
    color:yellow;
}
.desktop{
    width: 35vw;
    transition: 200ms;
    margin-top: 2rem;
    margin-right: 2rem;
}

.ul{
    font-size: 1.8rem;
}


.imgs{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: ; */
}
.row{
    display: flex;
}
.row-img{
    display: flex;
    margin-right: 5rem;
    margin-bottom: 2rem;
}
hr{
    width: 85%;
    
    margin: 2rem 0;
}
.lightHr{
    border-color:rgb(184, 175, 175);
    /* box-shadow: .1rem .1rem .1rem .1rem rgb(247, 158, 158); */
}
.darkHr{
    border-color:rgb(49, 43, 43);
    box-shadow: .1rem .1rem .1rem .1rem rgb(24, 20, 20);
}
.topic{
    max-width: 85vw;
    font-size: 1.5rem;
}

@media (max-width:768px){
    .hi{
        font-size: 9rem;
    }
    .row-img{
        flex-direction: column;
    }
    .desktop{
        width: 80%;
        align-self: center;
    }
}