.project-card{
    width: 40vw;
    height: 10%;
    background-color: rgb(199, 149, 99);
    margin:2rem;
    border-radius: .3rem;
    /* display: flex;
    flex-direction: column; */
    transition: 200ms;
    box-shadow: .2rem .2rem .2rem .2rem rgb(112, 96, 96);
}


.header{
    color:rgb(134, 85, 85);
    font-size: 2rem;
    margin: 1rem 0 0 1rem;
    font-family: 'fira code';
}

.proj-desc{
    color:white;
    margin-left: 1rem;
    font-family: 'fira code';
}

.star{
    width:1.5rem;
    margin-left: 5rem;
    height: 1.5rem;
}

.stars{
    color:white;
    position: relative;
    bottom:0.8rem;
    margin-left: .5rem;
}

.lang-color{
    border-radius: 50%;
    background-color: rgb(168, 25, 149);
    width: 1.5rem;
    height:1.5rem;
    margin-left: 0.8rem;
}
.language{
    color:white;
    position: relative;
    bottom:0.9rem;
    margin-left: 0.5rem;
}

.langs{
    display: flex;
    margin-left: .1rem;
}


@media(max-width:740px){
    .project-card{
        width: 90vw;
        margin-top: 5rem;
    }
    .row{
        flex-direction: column;
    }
    .scroll-up{
        display: none;
    }
}