.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.projects-header{
    color: white;
    font-family: 'QuickSand';
    font-size: 2rem;
}